BT_GIUAKY_XML/Buoi4/QUANAN.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Kiểu dữ liệu dùng chung -->
  <xs:simpleType name="MaType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="TenType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="50"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="SDTType">
    <xs:restriction base="xs:string">
      <xs:pattern value="0[0-9]{9}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="UserType">
    <xs:restriction base="xs:string">
      <xs:minLength value="6"/>
      <xs:maxLength value="50"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="PassType">
    <xs:restriction base="xs:string">
      <xs:minLength value="10"/>
      <xs:maxLength value="50"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Phần tử gốc -->
  <xs:element name="QUANAN">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="BANS">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="BAN" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="TENBAN" type="MaType"/>
                    <xs:element name="SOBAN" type="xs:integer"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="NHANVIENS">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="NHANVIEN" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="MANV" type="MaType"/>
                    <xs:element name="TENNV" type="TenType"/>
                    <xs:element name="SDT" type="SDTType"/>
                    <xs:element name="DIACHI" type="xs:string"/>
                    <xs:element name="GIOITINH" type="xs:string"/>
                    <xs:element name="USERNAME" type="UserType"/>
                    <xs:element name="PASSWORD" type="PassType"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="MONS">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MON" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="MAMON" type="MaType"/>
                    <xs:element name="TENMON" type="TenType"/>
                    <xs:element name="GIA" type="xs:float"/>
                    <xs:element name="HINHANH" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="HOADONS">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="HOADON" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="SOHD" type="xs:integer"/>
                    <xs:element name="NGAYLAP" type="xs:date"/>
                    <xs:element name="TONGTIEN" type="xs:float"/>
                    <xs:element name="MANV" type="MaType"/>
                    <xs:element name="TENBAN" type="MaType"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="CTHDS">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CTHD" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="SOHD" type="xs:integer"/>
                    <xs:element name="MAMON" type="MaType"/>
                    <xs:element name="SOLUONG" type="xs:integer"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

      </xs:sequence>
    </xs:complexType>

    <!-- Khóa chính -->
    <xs:key name="BanKey">
      <xs:selector xpath="BANS/BAN"/>
      <xs:field xpath="TENBAN"/> <!--xpath định nghĩa nơi tìm và trường được xem là khóa chính-->
    </xs:key>

    <xs:key name="NVKey">
      <xs:selector xpath="NHANVIENS/NHANVIEN"/>
      <xs:field xpath="MANV"/>
    </xs:key>

    <xs:key name="MonKey">
      <xs:selector xpath="MONS/MON"/>
      <xs:field xpath="MAMON"/>
    </xs:key>

    <xs:key name="HDKey">
      <xs:selector xpath="HOADONS/HOADON"/>
      <xs:field xpath="SOHD"/>
    </xs:key>

    <!-- Khóa ngoại -->
    <xs:keyref name="HD_NVRef" refer="NVKey">
      <xs:selector xpath="HOADONS/HOADON"/>
      <xs:field xpath="MANV"/>
    </xs:keyref>

    <xs:keyref name="HD_BanRef" refer="BanKey">
      <xs:selector xpath="HOADONS/HOADON"/>
      <xs:field xpath="TENBAN"/>
    </xs:keyref>

    <xs:keyref name="CTHD_HDRef" refer="HDKey">
      <xs:selector xpath="CTHDS/CTHD"/>
      <xs:field xpath="SOHD"/>
    </xs:keyref>

    <xs:keyref name="CTHD_MonRef" refer="MonKey">
      <xs:selector xpath="CTHDS/CTHD"/>
      <xs:field xpath="MAMON"/>
    </xs:keyref>

  </xs:element>
</xs:schema>
