BT_GIUAKY_XML/XSD/KhachHangs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="KhachHangs">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="KhachHang" minOccurs="1" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="khachHang_id" type="xs:string"/>
                            <xs:element name="tenKhachHang" type="xs:string"/>
                            <xs:element name="sdt" type="xs:string"/>
                            <xs:element name="ghiChu" type="xs:string" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
