BT_GIUAKY_XML/XSD/LoaiMons.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="LoaiMons">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="LoaiMon" minOccurs="1" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="loai_id" type="xs:string"/>
                            <xs:element name="tenLoaiMon" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
