BT_GIUAKY_XML/XSD/NhanViens.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="NhanViens">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="NhanVien" minOccurs="1" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="nhanVien_id" type="xs:string"/>
                            <xs:element name="tenNhanVien" type="xs:string"/>
                            <xs:element name="gioiTinh" type="xs:boolean"/>
                            <xs:element name="diaChi" type="xs:string"/>
                            <xs:element name="sdt" type="xs:string"/>
                            <xs:element name="taiKhoan" type="xs:string"/>
                            <xs:element name="matKhau" type="xs:string"/>
                            <xs:element name="trangThaiDangNhap" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
