XSD/Bans.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="Bans">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Ban" minOccurs="1" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ban_id" type="xs:string"/>
                            <xs:element name="soGhe" type="xs:positiveInteger"/>
                            <xs:element name="trangThai_id" type="xs:integer"/>
                            <xs:element name="trangThaiBan_id" type="xs:integer"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
