XSD/KhuyenMais.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

    <xs:element name="KhuyenMais">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="KhuyenMai" minOccurs="1" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="khuyenMai_id" type="xs:string"/>
                            <xs:element name="tenKhuyenMai" type="xs:string"/>
                            <xs:element name="hinhThuc" type="xs:string"/>
                            <xs:element name="ngay_batdau" type="xs:date"/>
                            <xs:element name="ngay_ketthuc" type="xs:date"/>
                            <xs:element name="trangThaiKM_id" type="xs:integer"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
