XSD/Mons.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="Mons">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Mon" minOccurs="1" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="mon_id" type="xs:string"/>
                            <xs:element name="tenMon" type="xs:string"/>
                            <xs:element name="gia" type="xs:decimal"/>
                            <xs:element name="loai_id" type="xs:string"/>
                            <xs:element name="trangThaiMon_id" type="xs:integer"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
