BT_GIUAKY_XML/Buoi1/donhang.dtd

<!ELEMENT orders (order:order+)>
<!ELEMENT order:order (prod:item+)>
<!ATTLIST order:order
          id       ID #REQUIRED
          customer ID #REQUIRED
          date     ID #REQUIRED>

<!ELEMENT prod:item (prod:name)>
<!ATTLIST prod:item
          id       ID #REQUIRED
          quantity ID #REQUIRED
          price    ID #REQUIRED>

<!ELEMENT prod:name (#PCDATA)>
