BT_GIUAKY_XML/Buoi3/orders.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Phần tử gốc -->
  <xs:element name="orders">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="order" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="product" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="quantity" type="xs:positiveInteger"/>
                  </xs:sequence>
                  <!-- ID của product: duy nhất trong phạm vi order, không ràng buộc toàn cục -->
                  <xs:attribute name="id" type="xs:NCName" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <!-- ID của order: duy nhất toàn tài liệu -->
            <xs:attribute name="id" type="xs:ID" use="required"/>
          </xs:complexType>

          <!-- Ràng buộc product/@id phải duy nhất trong từng order,product/@id bên trong cùng một <order> không trùng nhau,
nhưng các order khác có thể trùng product/@id. -->

          <xs:unique name="UniqueProductIdInOrder">
            <xs:selector xpath="product"/>
            <xs:field xpath="@id"/>
          </xs:unique>

        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
